div.scrollmenu {
  background-color: #333;
  overflow: auto;  /* this will specify if the content is too large to fit the available width, scrollbar will be added */
  white-space: nowrap;  /*  this specifies that the content inside the element should be displayed on a single line, without wrapping to the next line if it exceeds the available width of the element. */

 /* 
 To hide scrollbar for other browsers :-
 scrollbar-width: none; 
*/

}


/* hide scrollbar for webkit browsers */
::-webkit-scrollbar {
  display: none;
}


div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

